/*
 * scss全局变量定义文件
 * 每次定义需写注释并用注释将其分割
 */

// 定义居中scss代码块
@mixin Flexcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin Blockcenter($line-height){
  text-align: center;
  line-height: $line-height
}
// 定义居中scss代码块结束

// 定义超出自动省略号代码块
@mixin ellipsis($width, $height, $fontSize) {
  width: $width;
  height: $height;
  font-size: $fontSize;
  overflow: hidden;
  text-overflow: ellipsis;
}